@import '/src/styles/mixin/layout.scss';

.movie-detail{
    .banner{
        position: relative;
        .bg-blur{
        width: 100%;
        height: 100vh;
        object-fit: cover;
     }
     .overlay {
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
        .content{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(2, 21, 45, 0.95);
        display: flex;
        padding: 120px 300px;
        gap: 50px;

        @include tablet{
            padding: 100px 40px;
        }

        @include sp{
            padding:100px 30px ;
            display: block;
        }



        .left{
            width: 350px;
            flex-shrink: 0;

            @include sp{
                width: 100%;
            }

            img{
                width: 100%;
                border-radius: 12px;
            }
        }

        .right{
            flex-grow: 1;
            color: #fff;
            h1{
                font-size: 40px;
                font-weight: 400px;

                @include bottom-line;
            }
            .tagline {
          font-size: 24px;
          color: #fff;
          opacity: 0.5;
          margin-bottom: 10px;
        }
            .circleRating {
          width: 100px;
          background-color: #04152d;
          border-radius: 50%;
          padding: 2px;
          margin-top: 20px;
          .CircularProgressbar-text {
            font-size: 34px;
            font-weight: 700;
            fill: #fff;
          }
          .CircularProgressbar-trail {
            stroke: transparent;
          }

        }

        h3{
            font-size: 25px;
        }
        p{
            font-size: 25px;
            line-height: 35px;
        }

        .box{
            border-bottom: 1px solid rgba(255, 255,255, .1);
            display: flex;
            gap: 20px;
            padding: 20px 0;
        }

        .label{
            margin-right: 10px;
            @include bottom-line;
        }

        .value{
            color: #fff;
            opacity: .5;
        }

        }
     }
    }
}