@import '/src/styles/mixin/layout.scss';

.search-page {
  color: white;

  h2 {
    font-weight: 500;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .movie-card{
        width: calc(100% / 5 - 16px); // 5 thằng 4 gap 20px: 4*20/5
        
        @include sp{
            width: calc(100% / 2 - 10px);
        }
    }
  }
}
